body
  background-color: #101010
  font: 33px Helvetica, Arial, sans-serif
  letter-spacing: -3px
  color: #5C5C5C

.purple
  color: #A839B2

.pink
  color: #FF0071

.lime
  color: #ACD030

.green
  color: #58AA00

.sea
  color: #00AA78

.blue
  color: #0074AE